<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

  <config>
    <add key="signatureValidationMode" value="require" />
  </config>

  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="1F4B311D9ACC115C8DC8018B5A49E00FCE6DA8E2855F9F014CA6F34570BC482D"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <owners>
        microsoft;nuget;simoncropp;nukebuild;SharpDevelop;rsuter;serilog;jetbrains;mrunleaded;dotnetframework;danielpalme;aaubry;gittools;GitHub;DendroDocs;commandlineparser;phmonte;newtonsoft;kirillosenkov</owners>
    </repository>

    <author name="microsoft">
      <certificate fingerprint="3F9001EA83C560D712C24CF213C3D312CB3BFF51EE89435D3430BD06B5D0EECE"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="AA12DA22A49BCE7D5C1AE64CC1F3D892F150DA76140F210ABD2CBFFCA2C18A27"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="566A31882BE208BE4422F7CFD66ED09F5D4524A5994F50CCC8B05EC0528C1353"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>

    <author name="coverlet">
      <certificate fingerprint="1C3FA7FCCD5A0A8F0B87D27821E56609B0D5AAB3E4308112ED2D3BC9B981EF31"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>

    <author name="json.net">
      <certificate fingerprint="A3AF7AF11EBB8EF729D2D91548509717E7E0FF55A129ABC3AEAA8A6940267641"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="D60F9A9BD35829CCF4684D4B1E0B62EB3D982FCD55159F337348BB18EA25B8A7"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>

    <author name="humanizer">
      <certificate fingerprint="B0F7E4AA75AD5585ADD09821B41AFE260404DC59D373477E065AED0D9F21681C"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>

    <author name="david glick">
      <certificate fingerprint="4A2415C63AD11EA0A0C69255C83E0830DECD059484D8E8C06E3A11A0F269FF3B"
        hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
  </trustedSigners>
</configuration>
